
a{
    text-decoration: none;
}

section{
    position: fixed;
    top: 50%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    

  
}
img{
    margin-right: 100px;

}
form{
    display: grid;
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 30%;

}
input{
    height: 55px;
    width: 155px;
  
}
p{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

button{
    background-color: orangered;
    border: none;
    padding: 15px;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    
             
}
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
    font-family: 'Roboto Mono', monospace;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
.btn{
    background-image: linear-gradient(to left , orangered , #fe1b00 , #f4661b );
    background-size: 200%;

}
.btn:hover{
    background-image: linear-gradient(to right,  #F4661B, #fe1b00 , orangered);
    background-position: right;
    transition: 1s;
}
h3{
    position: absolute;
    display: flex;
    top: 650%;
    left: -3%;
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;

}
.discord {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 53%;
    top: 75%;
    
}
.twitter{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 43%;
    top: 75%;
}